<template>
     <div class="conversor">
         <h4>{{moedaA}} Para {{moedaB}}</h4>
        <input type="text" v-model="moedaA_value" v-bind:placeholder="moedaA">
        <input type="button" value="Converter" v-on:click="converter"  class="btn btn-primary rounded-pill" id="btn-converter">
        <h2>{{moedaB_value}}</h2>
     </div>
</template>

<script>
export default {
    name: "Conversor",
    props: ["moedaA", "moedaB"],
        data(){
            return{
                moedaA_value : "",
                moedaB_value : ""
            };
        },
        methods:{

            converter(){
                let de_para = this.moedaA + "_" + this.moedaB;

                let url = "https://free.currconv.com/api/v7/convert?q=" +
                    de_para +
                    "&compact=ultra&apiKey=c4b81a0d143e968a80e0";

            fetch(url)
                .then(res => {
                    return res.json();
                })
                .then(json => {
                    
                    let cotacao = json[de_para];
                    this.moedaB_value = (cotacao * parseFloat(this.moedaA_value)).toFixed(2);
                });
              
            }    
        }
        
};
</script>

<style scope>

.conversor{
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#btn-converter{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* max device width */
@media screen and (max-device-width: 425px) {
  .linha{
    margin: 50px 50px 0px 50px;
    display: block;
  }

  #btn-converter{
    margin-top: 20px;
  }
}
</style>