<template>
  <div id="app">
  
    <h1>Conversor de Moedas</h1>
    <div class="linha">
      
      <Conversor moedaA="USD" moedaB="BRL"/>
      <Conversor moedaA="BRL" moedaB="USD"/>
      
    </div>  
  </div>
  
</template>

<script>
import Conversor from "./components/Conversor.vue";

export default {
  name: 'App',
  components: {
    Conversor
  }
};

</script>

<style>
#app {
  margin: auto;
  max-width: 900px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.linha{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

/* max device width */
@media screen and (max-device-width: 425px) {
  .linha{
    margin: 50px 50px 0px 50px;
    display: block;
  }

  .conversor{
    margin-bottom: 40px;
  }
}

</style>
